@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap");
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes xTranslation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes xTranslation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@-webkit-keyframes secondXTranslation {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes secondXTranslation {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@-webkit-keyframes orbit-shadow {
  0% {
    -webkit-box-shadow: 50px 50px 5px darkgrey;
            box-shadow: 50px 50px 5px darkgrey;
  }
  25% {
    -webkit-box-shadow: -50px 50px 5px darkgrey;
            box-shadow: -50px 50px 5px darkgrey;
  }
  50% {
    -webkit-box-shadow: -50px -50px 5px darkgrey;
            box-shadow: -50px -50px 5px darkgrey;
  }
  75% {
    -webkit-box-shadow: 50px -50px 5px darkgrey;
            box-shadow: 50px -50px 5px darkgrey;
  }
  1000% {
    -webkit-box-shadow: 50px 50px 5px darkgrey;
            box-shadow: 50px 50px 5px darkgrey;
  }
}

@keyframes orbit-shadow {
  0% {
    -webkit-box-shadow: 50px 50px 5px darkgrey;
            box-shadow: 50px 50px 5px darkgrey;
  }
  25% {
    -webkit-box-shadow: -50px 50px 5px darkgrey;
            box-shadow: -50px 50px 5px darkgrey;
  }
  50% {
    -webkit-box-shadow: -50px -50px 5px darkgrey;
            box-shadow: -50px -50px 5px darkgrey;
  }
  75% {
    -webkit-box-shadow: 50px -50px 5px darkgrey;
            box-shadow: 50px -50px 5px darkgrey;
  }
  1000% {
    -webkit-box-shadow: 50px 50px 5px darkgrey;
            box-shadow: 50px 50px 5px darkgrey;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    timing-function: ease-in;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    timing-function: ease-in;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: radial-gradient(circle at 50% 10%, #1f3756, #141539);
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
}

.body-active {
  background: red;
}

.container {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-active {
  opacity: 0.1;
}

.header {
  border: 2px solid #606e85;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  width: 800px;
}

.header__logo {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.header__logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header .scoreboard {
  background: white;
  width: 20%;
  padding: 10px auto;
  border-radius: 5px;
  color: #2a46c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  min-height: 60px;
}

.header .scoreboard__points {
  font-size: 3rem;
  font-weight: 700;
  color: #3b4363;
}

.header .scoreboard .bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.game-wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 100px;
}

.game-wrapper .icons {
  position: relative;
}

.game-wrapper .icons__btn {
  position: absolute;
  background: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 10px #606e85;
  box-shadow: inset 0 0 10px #606e85;
  cursor: pointer;
}

.game-wrapper .icons__btn:first-child {
  top: -150px;
  left: -70px;
  border: 18px solid #dd3c5b;
}

.game-wrapper .icons__btn:nth-child(2) {
  top: -340px;
  right: 35px;
  border: 18px solid #506cf4;
}

.game-wrapper .icons__btn:last-child {
  top: -340px;
  left: 35px;
  border: 18px solid #ec9f11;
}

.game-wrapper-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.results-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.results-wrapper__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 0;
}

.results-wrapper__choice-active:first-child {
  -webkit-animation: xTranslation .5s;
          animation: xTranslation .5s;
  opacity: 1;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.results-wrapper__choice-active:last-child {
  -webkit-animation: secondXTranslation .5s;
          animation: secondXTranslation .5s;
  opacity: 1;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.results-wrapper__title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
}

.results-wrapper__icon {
  margin-top: 24px;
  background: white;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 25px #606e85;
  box-shadow: inset 0 0 25px #606e85;
  cursor: pointer;
  border: 30px solid #dd3c5b;
}

.results-wrapper__icon .icon {
  width: 80px;
}

.results-wrapper .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.results-wrapper .result__info {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.results-wrapper .result__btn {
  border: none;
  background: white;
  padding: 14px 24px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  color: #3b4363;
  margin-top: 24px;
}

.results-wrapper .result-active {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  opacity: 1;
}

.results-wrapper-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  margin-top: 100px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__btn {
  border: 2px solid #606e85;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  padding: 12px 32px;
  cursor: pointer;
  color: white;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin-right: 150px;
}

.footer__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal {
  display: none;
  background: white;
  border-radius: 10px;
  width: 450px;
  height: 450px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  margin: auto;
  color: #3b4363;
  -webkit-box-shadow: inset 0 0 5px #606e85;
  box-shadow: inset 0 0 5px #606e85;
}

.modal__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 700;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.modal__btn {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: none;
  background: transparent;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: btn;
  justify-self: end;
}

.modal__btn:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal__btn:after {
  content: "\d7";
  font-size: 48px;
  font-weight: 400;
  color: #cccdd2;
}

.modal__image {
  width: 350px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
      justify-self: center;
}

.modal-active {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 30px;
      grid-template-areas: "title btn" "main main";
}

@media (max-width: 1266px) {
  .results-wrapper__choice {
    margin: 0 60px;
  }
}

@media (max-width: 966px) {
  .header {
    width: 80%;
  }
  .header__logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 60px;
  }
  .header .scoreboard {
    width: 20%;
    font-size: 12px;
  }
  .header .scoreboard__points {
    font-size: 2rem;
  }
  .results-wrapper-active {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-items: center;
        grid-template-areas: "icon icon" "result result";
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
  }
  .footer__btn {
    margin: 0;
  }
  .results-wrapper__choice {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: icon;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-rows: 20px 1fr;
        grid-template-rows: 20px 1fr;
    text-align: center;
    margin: 0 20px;
  }
  .results-wrapper__choice:first-child {
    -ms-grid-column: 1;
    grid-column: 1;
    margin-left: 0;
  }
  .results-wrapper__choice:last-child {
    -ms-grid-column: 2;
    grid-column: 2;
    margin-right: 0;
  }
  .results-wrapper__icon {
    width: 150px;
    height: 150px;
    -webkit-box-shadow: inset 0 0 15px #606e85;
    box-shadow: inset 0 0 15px #606e85;
    cursor: pointer;
    border: 18px solid #dd3c5b;
  }
  .results-wrapper__icon .icon {
    width: 50px;
  }
  .results-wrapper__title {
    font-size: 16px;
  }
  .results-wrapper .result {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: result;
  }
  .results-wrapper .result__info {
    font-size: 32px;
  }
  .results-wrapper .result__btn {
    padding: 14px 24px;
    width: 200px;
    border-radius: 5px;
    margin-top: 24px;
  }
}

@media (max-width: 966px) and (max-width: 466px) {
  .header__logo {
    height: 60px;
  }
  .header .scoreboard {
    width: 40%;
  }
  .game-wrapper {
    margin: 56px;
  }
  .game-wrapper__bg {
    width: 200px;
  }
  .game-wrapper .icons__btn {
    width: 100px;
    height: 100px;
  }
  .game-wrapper .icons__btn:first-child {
    top: -100px;
    left: -50px;
    border: 10px solid #dd3c5b;
  }
  .game-wrapper .icons__btn:nth-child(2) {
    top: -220px;
    right: 15px;
    border: 10px solid #506cf4;
  }
  .game-wrapper .icons__btn:last-child {
    top: -220px;
    left: 15px;
    border: 10px solid #ec9f11;
  }
  .game-wrapper .icons__icon {
    width: 40px;
  }
  .results-wrapper {
    margin-top: 20px;
  }
  .results-wrapper__choice {
    margin-right: 0;
  }
  .results-wrapper__icon {
    width: 120px;
    height: 120px;
    border-width: 10px;
  }
  .modal {
    width: 100vw;
    height: 100vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    padding: 25% 30px;
    justify-items: center;
        grid-template-areas: "title" "main" "btn";
  }
  .modal__btn {
    -ms-grid-column-align: center;
        justify-self: center;
    position: absolute;
    bottom: 0;
  }
  .modal__image {
    width: 250px;
  }
}

@media (max-width: 300px) {
  .results-wrapper__choice {
    margin: auto 5px;
  }
  .modal {
    padding: 10vh 10px;
  }
}
/*# sourceMappingURL=index.css.map */