// variables
$iconBorder-width: 18px;
$yellowBorder: rgb(236, 159, 17);
$redBorder: rgb(221, 60, 91);
$blueBorder: rgb(80, 108, 244);
$headerOutline: hsl(217, 16%, 45%);
$darkText: hsl(229, 25%, 31%);
$blueText: hsl(229, 64%, 46%);
$grayText: rgb(204, 205, 210);

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');


@keyframes fadeIn {
    0% { 
        opacity: 0; 
        transform: scale(0);
    }
    100% { 
          transform: scale(1);
          opacity: 1; 
    }
}


@keyframes xTranslation {
    0% { 
        opacity: 0;
        transform: translateX(0px);
    }
    100% { 
        opacity: 1;
        transform: translateX(-50px);
    }
}

@keyframes secondXTranslation {
    from { 
        transform: translateX(0px);
    }
      to { 
        transform: translateX(50px);
    }
}

@keyframes bounce {
    0% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
    37% {
      transform: translateX(5px);
      timing-function: ease-out;
    }
    55% {
      transform: translateX(-5px);
      timing-function: ease-in;
    }
    73% {
      transform: translateX(4px);
      timing-function: ease-out;
    }
    82% {
      transform: translateX(-4px);
      timing-function: ease-in;
    }
    91% {
      transform: translateX(2px);
      timing-function: ease-out;
    }
    96% {
      transform: translateX(-2px);
      timing-function: ease-in;
    }
    100% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
  }

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(circle at 50% 10%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color: white;
    min-height: 100vh;
}

.container {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.container-active {
    opacity: 0.1;
}


.header {
    border: 2px solid $headerOutline;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 800px;

    &__logo {
        transition: .2s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }


    .scoreboard {
        background: white;
        width: 20%;
        padding: 10px auto;
        border-radius: 5px;
        color: $blueText;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        min-height: 60px;

        &__points {
            font-size: 3rem;
            font-weight: 700;
            color: $darkText;
        }
    }
}

.game-wrapper {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;

    .icons {
        position: relative;


        &__btn {
            position: absolute;
            background: white;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            -moz-box-shadow:    inset 0 0 10px $headerOutline;
            -webkit-box-shadow: inset 0 0 10px $headerOutline;
            box-shadow:         inset 0 0 10px $headerOutline;
            cursor: pointer;


    
            &:first-child {
                top: -150px;
                left: -70px;
                border: $iconBorder-width solid $redBorder;
            }
    
            &:nth-child(2) {
                top: -340px;
                right: 35px;
                border: $iconBorder-width solid $blueBorder;
            }
    
            &:last-child {
                top: -340px;
                left: 35px;
                border: $iconBorder-width solid $yellowBorder;
            }
            
        }
    }
}

.game-wrapper-active {
    display: flex;
    animation: fadeIn 1s;
}

.results-wrapper {
    display: none;
    margin-top: 100px;

    &__choice {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 0;

        &-active:first-child {
            animation: xTranslation .5s;
            opacity: 1;
            transform: translateX(-50px);
        }

        &-active:last-child {
            animation: secondXTranslation .5s;
            opacity: 1;
            transform: translateX(50px);
        }
        
    }


    &__title {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 600;
    }


    &__icon {
        margin-top: 24px;
        background: white;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        -moz-box-shadow:    inset 0 0 25px $headerOutline;
        -webkit-box-shadow: inset 0 0 25px $headerOutline;
        box-shadow:         inset 0 0 25px $headerOutline;
        border: 30px solid $redBorder;

        .icon {
            width: 80px;
        }
    }

    .result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;

        &__info {
            font-size: 48px;
            text-transform: uppercase;
            text-align: center;
        }


        &__btn {
            border: none;
            background: white;
            padding: 14px 24px;
            width: 200px;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 600;
            color: $darkText;
            margin-top: 24px;
        }
    }

    .result-active {
        animation: fadeIn 1s;
        opacity: 1;
    }
}

.results-wrapper-active {
    display: flex;
}

.footer {  
    margin-top: 100px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;


    &__btn {
        border: 2px solid $headerOutline;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 6px;
        padding: 12px 32px;
        cursor: pointer;
        color: white;
        transition: .2s ease-in-out;
        margin-right: 150px;


        &:hover {
            transform: scale(1.05);
        }
    }
}

.modal {
    display: none;
    background: white;
    border-radius: 10px;
    width: 450px;
    height: 450px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    margin: auto;
    color: $darkText;
    -moz-box-shadow:    inset 0 0 5px $headerOutline;
    -webkit-box-shadow: inset 0 0 5px $headerOutline;
    box-shadow:         inset 0 0 5px $headerOutline;


    &__title {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 32px;
        font-weight: 700;
        grid-area: title;
    }


    &__btn {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        background: transparent;
        transition: .2s ease-in-out;
        grid-area: btn;
        justify-self: end;
    
        &:hover {
            transform: scale(1.2);
        }

        &:after {
            content:"\d7";
            font-size: 48px;
            font-weight: 400;
            color:$grayText;
        }  
    } 

    &__image {
        width: 350px;
        grid-area: main;
        justify-self: center;
    }
}

.modal-active {
    animation: fadeIn 1s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    grid-template-areas:
      "title btn"
      "main main";
}


.bounce {
    animation-name: bounce;
    animation-duration: 1s;
    animation-delay: 0.25s;
}

@media(max-width: 1266px) {
    .results-wrapper {
    
        &__choice {
            margin: 0 60px;
        }
    }
}

@media(max-width: 966px) {

    .header {
        width: 80%;

        &__logo {
            align-self: center;
            height: 60px;
        }

        .scoreboard {
            width: 20%;
            font-size: 12px;

            &__points {
                font-size: 2rem;
            }
        }
    }

    .results-wrapper-active {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        grid-template-areas:
          "icon icon"
          "result result";
    }

    .footer {
        justify-content: center;
        margin: 20px;

        &__btn {
            margin: 0;
        }
    }

    .results-wrapper {


        &__choice {
            grid-area: icon;
            display: grid;
            justify-items: center;
            grid-template-rows: 20px 1fr;
            text-align: center;
            margin: 0 20px;

            &:first-child {
                grid-column: 1;
                margin-left: 0;
            }

            &:last-child {
                grid-column: 2;
                margin-right: 0;
            }
        }

        &__icon {
            width: 150px;
            height: 150px;
            -moz-box-shadow:    inset 0 0 15px $headerOutline;
            -webkit-box-shadow: inset 0 0 15px $headerOutline;
            box-shadow:         inset 0 0 15px $headerOutline;
            cursor: pointer;
            border: $iconBorder-width solid $redBorder;
    
            .icon {
                width: 50px;
            }
        }

        &__title {
            font-size: 16px;
        }

        .result {
            grid-area: result;
    
            &__info {
                font-size: 32px;
            }
    
    
            &__btn {
                padding: 14px 24px;
                width: 200px;
                border-radius: 5px;
                margin-top: 24px;
            }
    }


}

@media(max-width: 698px) {
    .results-wrapper {

        margin-top: 20px;

        &__choice {
            margin-right: 0;
        }

        &__icon {
            width: 120px;
            height: 120px;
            border-width: $iconBorder-width;
        }
    }
}

@media(max-width: 466px) {
    $iconBorder-width: 10px;

    .header {

        &__logo {
            height: 60px;
        }

        .scoreboard {
            width: 40%;
        }
    }

    .game-wrapper {
        margin: 56px;

        &__bg {
            width: 200px;
        }

        .icons {


            &__btn {
                width: 100px;
                height: 100px;

                &:first-child {
                    top: -100px;
                    left: -50px;
                    border: $iconBorder-width solid $redBorder;
                }
        
                &:nth-child(2) {
                    top: -220px;
                    right: 15px;
                    border: $iconBorder-width solid $blueBorder;
                }
        
                &:last-child {
                    top: -220px;
                    left: 15px;
                    border: $iconBorder-width solid $yellowBorder;
                }
            }


            &__icon {
                width: 40px;
            }
        }
    }


    .results-wrapper {

        margin-top: 20px;

        &__choice {

            &-active:first-child {
                animation: fadeIn .5s;
                transform: translateX(0px);
            }
    
            &-active:last-child {
                animation: fadeIn .5s;
                transform: translateX(0px);
            }
            
        }

        &__icon {
            width: 120px;
            height: 120px;
            border-width: $iconBorder-width;
        }
    }

    .modal {
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 25% 30px;
        justify-items: center;
        grid-template-areas:
          "title"
          "main"
          "btn";

        
        &__btn {
            justify-self: center;
            position: absolute;
            bottom: 0;
        }

        
        &__image {
            width: 250px;
        }
    }    
}
}

@media(max-width: 300px) {
    .results-wrapper {


        &__choice {
            margin: auto 5px;
        }
    }

    .modal {
        padding: 10vh 10px;
    }
}