@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: radial-gradient(circle at 50% 10%, #1f3756, #141539);
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
}

.body-active {
  background: red;
}

.container {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-active {
  opacity: 0.5;
}

.header {
  border: 2px solid #606e85;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  width: 800px;
}

.header__logo {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.header__logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header .scoreboard {
  background: white;
  width: 20%;
  padding: 10px auto;
  border-radius: 5px;
  color: #2a46c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  min-height: 60px;
}

.header .scoreboard__points {
  font-size: 3rem;
  font-weight: 700;
  color: #3b4363;
}

.game-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 100px;
}

.game-wrapper .icons {
  position: relative;
}

.game-wrapper .icons__btn {
  position: absolute;
  background: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 5px #606e85;
  box-shadow: inset 0 0 5px #606e85;
  cursor: pointer;
}

.game-wrapper .icons__btn:first-child {
  top: -150px;
  left: -70px;
  border: 18px solid #dd3c5b;
}

.game-wrapper .icons__btn:nth-child(2) {
  top: -340px;
  right: 35px;
  border: 18px solid #506cf4;
}

.game-wrapper .icons__btn:last-child {
  top: -340px;
  left: 35px;
  border: 18px solid #ec9f11;
}

.results-wrapper {
  display: none;
  margin-top: 100px;
}

.results-wrapper__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 100px;
}

.results-wrapper__title {
  font-size: 24px;
  font-weight: 600;
}

.results-wrapper__icon {
  margin-top: 24px;
  background: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 5px #606e85;
  box-shadow: inset 0 0 5px #606e85;
  cursor: pointer;
  border: 18px solid #dd3c5b;
}

.footer {
  font-size: 18px;
  font-weight: 600;
  margin-top: 100px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .attribution {
  text-align: center;
  -ms-grid-column: 2;
  grid-column: 2;
}

.footer .attribution__link {
  color: #2a46c0;
  text-decoration: none;
}

.footer__btn {
  -ms-grid-column: 3;
  grid-column: 3;
  outline: none;
  border: 2px solid #606e85;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  padding: 12px 32px;
  cursor: pointer;
  color: white;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.footer__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal {
  display: none;
}

.modal-active {
  background: white;
  border-radius: 10px;
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3b4363;
  -webkit-box-shadow: inset 0 0 5px #606e85;
  box-shadow: inset 0 0 5px #606e85;
}

.modal-active .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-bottom: 40px;
}

.modal-active .modal-header__title {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal-active .modal-header__btn {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.modal-active .modal-header__btn:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal-active .modal-header__btn:after {
  content: "\d7";
  font-size: 44px;
  color: #cccdd2;
}

.modal-active .modal__image {
  width: 250px;
}

@media (max-width: 866px) {
  .header {
    width: 80%;
  }
  .header__logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 80px;
  }
  .header .scoreboard {
    width: 20%;
    font-size: 12px;
  }
  .header .scoreboard__points {
    font-size: 2rem;
  }
  .footer {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
  }
  .footer .attribution {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  .footer__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    color: white;
  }
}

@media (max-width: 466px) {
  .header__logo {
    height: 60px;
  }
  .header .scoreboard {
    width: 40%;
  }
  .game-wrapper__bg {
    width: 200px;
  }
  .game-wrapper .icons__btn {
    width: 100px;
    height: 100px;
  }
  .game-wrapper .icons__btn:first-child {
    top: -100px;
    left: -50px;
    border: 10px solid #dd3c5b;
  }
  .game-wrapper .icons__btn:nth-child(2) {
    top: -220px;
    right: 15px;
    border: 10px solid #506cf4;
  }
  .game-wrapper .icons__btn:last-child {
    top: -220px;
    left: 15px;
    border: 10px solid #ec9f11;
  }
  .game-wrapper .icons__icon {
    width: 40px;
  }
  .footer {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    margin-top: 50px;
  }
  .footer .attribution {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  .footer__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}
/*# sourceMappingURL=index.css.map */