// variables
$iconBorder-width: 18px;
$yellowBorder: rgb(236, 159, 17);
$redBorder: rgb(221, 60, 91);
$blueBorder: rgb(80, 108, 244);
$headerOutline: hsl(217, 16%, 45%);
$darkText: hsl(229, 25%, 31%);
$blueText: hsl(229, 64%, 46%);
$grayText: rgb(204, 205, 210);

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(circle at 50% 10%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
}

.container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    border: 2px solid $headerOutline;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 800px;


    .scoreboard {
        background: white;
        width: 20%;
        padding: 10px auto;
        border-radius: 5px;
        color: $blueText;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        min-height: 60px;

        &__points {
            font-size: 3rem;
            font-weight: 700;
            color: $darkText;
        }
    }
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;

    .icons {
        position: relative;


        &__item {
            position: absolute;
            background: white;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            -moz-box-shadow:    inset 0 0 5px $headerOutline;
            -webkit-box-shadow: inset 0 0 5px $headerOutline;
            box-shadow:         inset 0 0 5px $headerOutline;
            cursor: pointer;


    
            &:first-child {
                top: -150px;
                left: -70px;
                border: $iconBorder-width solid $redBorder;
            }
    
            &:nth-child(2) {
                top: -340px;
                right: 35px;
                border: $iconBorder-width solid $blueBorder;
            }
    
            &:last-child {
                top: -340px;
                left: 35px;
                border: $iconBorder-width solid $yellowBorder;
            }
            
        }
    }
}

.footer {  
    font-size: 18px; 
    font-weight: 600;
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    .attribution {
        text-align: center;
        grid-column: 2;


        &__link {
            color: $blueText; 
            text-decoration: none;
        }

    }



    &__btn {
        grid-column: 3;
        outline: none;
        border: 2px solid $headerOutline;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 6px;
        padding: 12px 32px;
        cursor: pointer;
    }
}


.modal {
    background: white;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $darkText;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin-bottom: 40px;

        &__title {
            text-transform: uppercase;
            letter-spacing: 1px;
        }


        &__btn {
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            background: transparent;
            outline: none;

            &:after {
                content:"\d7";
                font-size:44px;
                color:$grayText;
            }  
        }      
    }

    &__image {
        width: 250px;
    }
}


@media(max-width: 866px) {

    .header {
        width: 80%;

        &__logo {
            align-self: center;
            height: 80px;
        }

        .scoreboard {
            width: 20%;
            font-size: 12px;

            &__points {
                font-size: 2rem;
            }
        }
    }


    .footer {
        grid-template-rows: 1fr 1fr;
        grid-gap: 50px;

        .attribution {
            grid-row: 2;
            grid-column-start: 1;
            grid-column-end: 4;
        }


        &__btn {
            align-self: center;
            justify-self: center;
            grid-row: 1;
            grid-column: 2;
        }
    }
}

@media(max-width: 466px) {
    $iconBorder-width: 10px;

    .header {

        &__logo {
            height: 60px;
        }

        .scoreboard {
            width: 40%;
        }
    }

    .game-wrapper {

        &__bg {
            width: 200px;
        }

        .icons {


            &__item {
                width: 100px;
                height: 100px;

                &:first-child {
                    top: -100px;
                    left: -50px;
                    border: $iconBorder-width solid $redBorder;
                }
        
                &:nth-child(2) {
                    top: -220px;
                    right: 15px;
                    border: $iconBorder-width solid $blueBorder;
                }
        
                &:last-child {
                    top: -220px;
                    left: 15px;
                    border: $iconBorder-width solid $yellowBorder;
                }
            }


            &__icon {
                width: 40px;
            }
        }
    }

    .footer {
        grid-template-rows: 1fr 1fr;
        grid-gap: 25px;
        margin-top: 50px;

        .attribution {
            grid-row: 2;
            grid-column-start: 1;
            grid-column-end: 4;
        }


        &__btn {
            align-self: center;
            justify-self: center;
            grid-row: 1;
            grid-column: 2;
        }
    }
}
